<% if user_signed_in? %>
  <%= link_to 'Perfil', user_path(id: current_user.id) %> |
  <%= link_to 'Sair', destroy_user_session_path, method: :delete %>  
<% end %>

<% if current_user.role.blank? || current_user.department.blank? || current_user.name.blank? %>
  <h1 class="text-center" > Bem vindo ao Marketplace </h1>
  <h4 class="text-center" > Complete seu perfil para poder negociar - <%= link_to 'Editar perfil', edit_user_registration_path(params[:id]) %></h4>
<% else %>
  <h1 class="text-center"> Bem vindo ao Marketplace, <%= current_user.name %> </h1>
<% end%>

<div class="text-center" >
  <%= button_to 'Ver produtos', products_path, method: :get %>
</div>
