<% if product.errors.any? %>
  <ul>
    <% product.errors.full_messages.each do |message| %>
      <li> <%= message %> </li>
    <% end %>
  </ul>
<% end %>

<div>
  <%= form_with model: product, local: true do |form| %>
    <div class="form-group">
      <div>
        <%= form.label :name %>
      </div>
        <%= form.text_field :name %>
    </div>
    <div class="form-group">
      <div>
        <%= form.label :category %>
      </div>
        <%= form.select :category, 
                        options_for_select([['Eletrônicos'],
                                            ['Automotivo'],
                                            ['Esporte'],
                                            ['Cozinha'],
                                            ['Papelaria e Escritório'],
                                            ['Roupas e vestuário'],
                                            ['Ferramentas'],
                                            ['Brinquedos e games'],
                                            ['Outros']]), prompt: 'Selecione uma categoria' %>
    </div>
    <div class="form-group">
      <div>
        <%= form.label :description %>
      </div>
        <%= form.text_area :description %>
    </div>
    <div class="form-group">
      <div>
        <%= form.label :price %>
      </div>
      <%= form.number_field :price %>
    </div>

    <div>
      <%= form.label :image, 'Foto' %>
      <%= form.file_field :image %>
    </div>

    <%= form.submit 'Cadastrar '%>
  <% end %>
</form>
<div>
  <%= link_to 'Voltar', products_path %>
</div>