<div>
  <%= link_to 'Voltar', root_path %>
</div>

<h1 class="text-center" > Produtos Anunciados </h1>

<div class="text-center">
  <%= form_with url: products_search_path, local: true, method: :get do |form| %>
    <%= form.label :q, 'Busca' %>
    <%= form.text_field :q, placeholder: 'Produto ou categoria' %>
    <%= form.submit 'Buscar' %>
  <% end %>
</div>

<% if current_user.role.present? && current_user.department.present? && current_user.name.present? %>
  <div class="text-center">
    <%= button_to 'Cadastrar Produto', new_product_path, method: :get %>
  </div>
<% end%>

<% @products.each do |product| %>
  <% if product.user.email.split("@").last == current_user.email.split('@').last %>
    <div class="container">
      <div>
        <ul>
          <li> <%= "#{Product.human_attribute_name(:name)}: #{product.name}" %> </li>
          <li> <%= "#{Product.human_attribute_name(:price)}: #{number_to_currency product.price}" %> </li>
          <li> <%= "#{Product.human_attribute_name(:user)}: #{product.user.name}" %> </li>
        </ul>
      </div>
        <div>
          <%= link_to 'Ver detalhes', product_path(id: product.id) %>
        </div>
    </div>
  <% end %>
<% end %>

