<h1> Resumo do produto: </h1>

  <%= render partial: 'products/product_details', locals: { product: @product } %>

<h2> Pedido para análise: </h2>

  <%= render partial: 'orders/order_details', locals: { order: @order } %>

<div >
  <%= link_to 'Aceitar', accept_order_path(@order), method: :post %> |
  <%= link_to 'Recusar', decline_order_path(@order), method: :post %>
</div>

<div>
  <%= link_to 'Voltar', my_products_products_path %>
</div>
