<div>
  <h1> Seus produtos anunciados: </h1>
  <i> Caso o produto tenha pedido em aberto haverá link para análise </i>
</div>
<p>
  <ul>
    <% @products.each do |product| %>
      <div>
        <% if product.order.present? && product.order.in_progress? %>
          <li> <%= product.name %>
            - <%= link_to 'Analisar', product_my_order_path(product.id) %>
        <% elsif product.order.present? && product.order.completed? %>
          <% next %>
        <% else %>
            <li> <%= product.name %>
            - <%= link_to 'Detalhes', product_path(product.id) %>
        <% end %>
        </li>
      </div>
    <% end %>
  </ul>

<%= link_to 'Voltar' %>


