<h1> Operações finalizadas: </h1>


<h3> Produtos vendidos: </h3>
  <ul>
    <div>
      <% @products.each do |product| %>
        <% if product.order.present? && product.order.completed? %>
          <li> <%= product.name %> - <%= link_to 'Detalhes da venda', product_order_path(product, product.order) %> </li>
        <% else%>
          <% next %>
        <% end %>
      <% end %>
    </div>
  </ul>
 
 <h3> Pedidos cancelados: </h3>
  <ul>
    <div>
      <% @products.each do |product| %>
        <% if product.order.present? && product.order.canceled? %>
          <li> <%= product.name %> - <%= link_to 'Detalhes do pedido', product_order_path(product, product.order) %> </li>
        <% else%>
          <% next %>
        <% end %>
      <% end %>
    </div>
  </ul>

<h3> Produtos comprados: </h3>
  <ul>
    <div>
      <% @orders.each do |order| %>
        <% if order.user == current_user %>
          <li> <%= order.product.name %> - <%= link_to 'Detalhes do pedido', product_order_path(order.product, order) %> </li>
        <% else%>
          <% next %>
        <% end %>
      <% end %>
    </div>
  </ul>


<%= link_to 'Voltar', user_path(id: current_user.id) %>