  <div>
    <%= link_to 'Editar' %> | <%= link_to 'Deletar' %>
  </div>
<div>
  <h1> <%= @product.name %> </h1>
</div>
<div>
  <h3 > <%= "#{Product.human_attribute_name(:price)}: #{number_to_currency @product.price}" %> </h3>
</div>

<div>
  <h3> Detalhes: </h5>
  <ul>
    <li> <%= "#{Product.human_attribute_name(:user)}: #{@product.user.name}" %> </li>
    <li> <%= "#{User.human_attribute_name(:email)}: #{@product.user.email}" %> </li>
    <li> <%= "#{Product.human_attribute_name(:category)}: #{@product.category}" %> </li>
    <li> <%= "#{Product.human_attribute_name(:description)}: #{@product.description}" %> </li>
  </ul>
  <div>
    <%= button_to 'Comprar', method: :get %>
  </div>
  <div>
    <%= link_to 'Fazer uma pergunta', new_product_question_path(params[:id]) %>
    <% #link_to 'Fazer uma pergunta', new_product_question_path(@product.id) %>
  </div>
</div>

<%# Renderizando as perguntas %>
<div>
  <h3> Perguntas: </h3>
</div>
<div>
  <% @product.questions.each do |question| %>
    <span> Usuário: <%= @product.user.name %> </span> 
   <p> P: <%= question.content %> </p>
  <% end %>
</div>
