  <div>
    <%= link_to 'Editar', edit_product_path(params[:id]) %> | 
    <%= link_to 'Apagar anúncio', product_path(params[:id]), method: :delete, data: {confirm: 'Tem certeza que deseja apagar o anúncio?'} %>
  </div>

  <%= render partial: 'product_details', locals: { product: @product } %>


  <div>
    <%= button_to 'Comprar', new_product_order_path(params[:id]), method: :get %>
  </div>
  <div>
    <%= link_to 'Fazer uma pergunta', new_product_question_path(params[:id]) %>
    <% #link_to 'Fazer uma pergunta', new_product_question_path(@product.id) %>
  </div>
</div>

<% if @product.questions.any? %>
  <div>
    <h3> Perguntas: </h3>
  </div>
<% else %>
  <p> Ainda não há perguntas para esse produto. </p>
<% end %>

<% @product.questions.each do |question| %>
  <div>
    <p> Usuário: <%= @product.user.name  %> 
        - <%= l question.created_at %>
      <% if current_user == @product.user %>
        - <%= link_to 'Responder', new_product_question_answer_path(@product, question) %> 
      <% end %>
    </p>
    <p> <b>Pergunta:</b>  <%= question.content %>
      <% if question.answer %>
        <p> <b>R:</b> <%= question.answer.content %> </p>
      <% end %>
    </p>
  </div>
<% end %>

<%= link_to 'Voltar', products_path %>



